{% extends "analytics/base.html" %}


{% block head %}
<title>MovieGEEKs strip tease</title>
<style>
    .kpi-box {
        height: 100px;

    }
</style>
{% endblock head %}

{% block content %}
<div class="row" id="statistics">
    <div class="col-sm-4">
        <div class="well kpi-box">
            Number of visitors this month: <br />
            <strong>0</strong>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well kpi-box">

             conversion percentage: <br/>
            <strong>0</strong>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well kpi-box">
            Number of sessions this month: <br/>
            <strong>0</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Buy-not buy per session.
    </div>
    <div class="col-sm-6">

    </div>
</div>
<div class="row">
    <div></div>
</div>
{% endblock content %}
