version: "3"

services:
  db:
    image: postgres
    environment:
      - POSTGRES_DB=moviegeek
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust

    ports:
      - "5432:5432"

  web:
    build: .
    command: bash -c "python manage.py makemigrations && python manage.py migrate --run-syncdb && python populate_moviegeek.py && python populate_ratings.py python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

